@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "_variables";

*{
	font-family: $fuente;
}

@mixin flexible ($a: row,$b: center,$c: center){
	display: flex;
	flex-direction: $a;
	justify-content: $b;
	align-items: $c;
}

@each $a,$b in $font-weights{
	.font-weight-#{$a}{
		font-weight: $b;
	}
}

.bgNaranja{
	background-color: $color-primario;
}

.naranja{
	color: $color-primario;
}

.bgCyan{
	background-color: $color-secundario;
}

.cyan{
	color: $color-secundario;
}

#siteHeader {
	@include flexible(row,center,center);
	margin: auto;
}

.logoHorizontal{
	margin: 10px;
	display: block;
	width: 200px;
}

.logoVertical{
	margin: 10px;
	display: block;
	width: 150px;
}

.logoRedes{
	height: 30px;
}

#videoFondoLarge{
	display: none;
}

.headerVideo{
	position: absolute;
	z-index: -100;
	left: 0;
	width: 100%;
	height: calc( 100vw*1.6216 );
	overflow: hidden;
	video{
		position: absolute;
		left: 0;
		width: 100vw;
	}
}

.headerOverlay{
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: calc( 100vw*1.6216 );
	overflow: hidden;
	background-color: #FFFFFF;
	opacity: 0.5;
}

.headerContent{
	z-index: 2;
	width: 100%;
	height: calc( 100vw*1.6216 );
	@include flexible(column,center,center);
	img{
		width: 70%;
	}
	h2{
		display: none;;
	}
}

#banner{
	h2{
	font-size: 1.5rem;
	}
	h1{
		font-size: 2rem;
	}
}

.divCarousel{
	height: 500px;
}

#somosM{
	display: none;
}

.divSomos:hover{
	transform: scale(1.2);
}

.somosFoto{
	width: 100px;
}

#somos{
	display: none;
}

.fotoProyecto{
	width: 300px;
	&:hover{
		transform: scale(1.1);
	}
}

.boton{
	background-color: $color-secundario;
	border: none;
	border-radius: 10px;
	margin: 3em;
	padding: 10px;
	color: white;
    &:hover{
        transform: scale(1.2);
        background-color: #FFFFFF;
        border: solid 0.5px $color-secundario;
		color: $color-secundario;
    }
}

.botonNaranja{
	background-color: $color-primario;
	border: none;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	color: #FFFFFF;
    &:hover{
        transform: scale(1.2);
        background-color: #FFFFFF;
        border: solid 0.5px $color-primario;
		color: $color-primario;
    }
}

#contenedorSlider{
	width: 100%;
	margin:auto;
	overflow: hidden;
}

#slider{
	width: 1800px;
	height: 130px;
	background-image: url('../media/ALIDOS.png');
	background-size: 100% 100%;
	animation: slider 20s infinite linear;
}

@keyframes slider {
	to{
		background-position: 1799.11px;
	}
	
}

.fijado{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	z-index: 3;
}

.contAliados{
	width: 300px;
	height: 200px;
	margin: 10px;
	img{
		width: 200px;
	}
	&:hover{
	transform: scale(1.1);
	}
}

.videoProyecto{
	padding:56.25% 0 0 0;
	position:relative;
	margin: 10px;
}

.videoProyectoDesktop{
	display: none;
}

.textoProyecto{
	background-color: #e8e8e8;
	&:hover{
	transform: scale(1.1);
	}
}

.fotoQuienessomos{
	width: 300px;
}

.divQUienessomos{
	width: 350px;
	padding-bottom: 20px;
	&:hover{
		transform: scale(1.1);
	}
}

@media all and (min-width: 768px){
	#videoFondo{
		display: none;
	}

	#videoFondoLarge{
		display: block;
	}

	.headerVideo{
		height: calc( 100vw*0.5625 );
	}
	
	.headerOverlay{
		height: calc( 100vw*0.5625 );
	}
	
	.headerContent{
		height: calc( 100vw*0.5625 );
		img{
			width: 50%;
		}
	}

	#carouselSomos{
		display: none;
	}

	#somosM{
		@include flexible(row,space-around,center);
		flex-wrap: wrap;
		div{
			@include flexible(column,center,center);
			height: 200px;
			margin: 10px;
			h4{
				font-size: 15px;
			}
		}
	}

	#somos{
		display: none;
	}

	.videoProyecto{
		padding:56.25% 0 0 0;
		position:relative;
		margin: 10px;
	}
	
	.videoProyectoDesktop{
		display: none;
	}
}

@media all and (min-width: 992px){
	#videoFondo{
		display: none;
	}

	#videoFondoLarge{
		display: block;
	}

	.headerVideo{
		height: calc( 100vw*0.5625 );
	}
	
	.headerOverlay{
		height: calc( 100vw*0.5625 );
	}
	
	.headerContent{
		height: calc( 100vw*0.5625 );
		img{
			width: 50%;
		}
		h2{
			@include flexible(column,center,center);
		}
	}

	#banner{
		h1{
			font-size: 2.5rem;
		}
		h2{
			display: none;
		}
	}

	#carouselSomos{
		display: none;
	}

	#somosM{
		display: none;
	}

	#somos{
		@include flexible(row,space-around,center);
		div{
			@include flexible(column,center,center);
			height: 200px;
			h4{
				font-size: 15px;
			}
		}
	}

	.fijado{
		bottom: 50px;
		right: 50px;
	}

	.contAliados{
		width: 500px;
		height: 300px;
		margin: 20px;
		img{
			width: 400px;
		}
	}

	.videoProyectoDesktop{
		display: flex;
	}

	.videoProyecto{
		display: none;
	}
}