@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "_variables";

*{
	font-family: $fuente;
}

@mixin flexible ($a: row,$b: center,$c: center){
	display: flex;
	flex-direction: $a;
	justify-content: $b;
	align-items: $c;
}

@each $a,$b in $font-weights{
	.font-weight-#{$a}{
		font-weight: $b;
	}
}

.bgNaranja{
	background-color: $color-primario;
}

.naranja{
	color: $color-primario;
}

.bgCyan{
	background-color: $color-secundario;
}

.cyan{
	color: $color-secundario;
}

.divCarousel{
	height: 500px;
}

#proyectos div div{
	height:350px;
}

#sumate div div{
	height:350px;
}

.logo-horizontal{
	margin: 10px;
	display: block;
	width: 200px;
}

.logo-vertical{
	margin: 10px;
	display: block;
	width: 150px;
}

.tituloPrincipal{
	margin: auto;
	text-align: center;
}

.videoOAJNU{
	width: 100%;
	height: 50vh;
	padding: 10px;
}

.boton{
	background-color: $color-secundario;
	border: none;
	margin: 10px;
	a{
        color: #FFFFFF;
        text-decoration: none;
    }
    &:hover{
        transform: scale(1.2);
        background-color: #FFFFFF;
        border: solid 0.5px $color-secundario;
		color: $color-secundario;
		a{
			color: $color-secundario;
		}
    }
    &:active{
        background-color: $color-secundario;
        border: none;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.botonNaranja{
	background-color: $color-primario;
	border: none;
	margin: 10px;
	padding: 10px;
	a{
        color: #FFFFFF;
        text-decoration: none;
		font-size: 1.2rem;
    }
    &:hover{
        transform: scale(1.2);
        background-color: #FFFFFF;
        border: solid 0.5px $color-primario;
		color: $color-primario;
		a{
			color: $color-primario;
		}
    }
    &:active{
        background-color: $color-primario;
        border: none;
        color: #FFFFFF;
        text-decoration: none;
    }
}

iframe{
	margin:0;
	padding: 0;
}

.somosFoto{
	width: 100px;
}

#somos{
	display: none;
}

#somosM{
	display: none;
}

#aliados{
	display: none;
}
.logoRedes{
	height: 30px;
}

.fijado{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	z-index: 3;
}

.fotoProyecto{
	width: 300px;
}

.fotoQuienessomos{
	width: 300px;
}

.divQUienessomos{
	width: 350px;
}

.headerVideo{
	position: absolute;
	z-index: -100;
	left: 0;
	width: 100%;
	height: calc( 100vw*0.5625 );
	overflow: hidden;
	video{
		position: absolute;
		left: 0;
		width: 100vw;
	}
}

.headerOverlay{
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: calc( 100vw*0.5625 );
	overflow: hidden;
	background-color: #FFFFFF;
	opacity: 0.5;
}

.headerContent{
	z-index: 2;
	width: 100%;
	height: calc( 100vw*0.5625 );
	@include flexible(column,center,center);
	img{
		width: 50%;
	}
}

.headerContent h2{
	display: none;
}

#banner {
	h2{
	font-size: 1.5rem;
	}
	h1{
		font-size: 2rem;
	}
}

.contenedorSlider{
	width: 100%;
	margin:auto;
	overflow: hidden;
}

#slider{
	width: 1800px;
	height: 130px;
	background-image: url('../media/ALIDOS.png');
	background-size: 100% 100%;
	animation: slider 20s infinite linear;
}

@keyframes slider {
	to{
		background-position: 1799.11px;
	}
	
}

.contAliados{
	width: 300px;
	height: 200px;
	margin: 10px;
	img{
		width: 200px;
	}
}

.footerVoluntariado{
	bottom: 0;
}

@media all and (min-width: 768px){
	#somosM{
		@include flexible(row,space-around,center);
		flex-wrap: wrap;
		div{
			@include flexible(column,center,center);
		}
	}

	#somos{
		display: none;
	}

	#carouselSomos{
		display: none;
	}

	#somosM div h4{
		font-size: 15px;
	}

	#somosM div{
		height: 200px;
		margin: 10px;
	}
}

@media all and (min-width: 992px){
	#somos{
		@include flexible(row,space-around,center);
		div{
			@include flexible(column,center,center);
		}
	}

	#somosM{
		display: none;
	}

	#carouselSomos{
		display: none;
	}
	
	#banner h1{
		font-size: 2.5rem;
	}
		
	.headerContent h2{
		@include flexible(column,center,center);
	}

	#banner h2{
		display: none;
	}

	#aliados{
		@include flexible(row,space-between,center);
		margin-bottom: 3;
		overflow: auto;
	}
	
	.aliadosFoto{
		height: 100px;
	}

	#carouselAliados{
		display: none;
	}

	#siteHeader {
		@include flexible(row,center,center);
		margin: auto;
	}

	.fijado{
		bottom: 50px;
		right: 50px;
	}

	.divSomos:hover{
		transform: scale(1.2);
	}

	#somos div h4{
		font-size: 15px;
	}

	#somos div{
		height: 200px;
	}
	
	.fotoProyecto:hover{
		transform: scale(1.2);
	}

	.divQuienesSomos{
		padding-bottom: 20px;
		&:hover{
			transform: scale(1.1);
		}

	}

	.textoProyecto{
		background-color: #e8e8e8;
		&:hover{
		transform: scale(1.2);
		}
	}

	.contAliados{
		width: 500px;
		height: 300px;
		margin: 20px;
		img{
			width: 400px;
		}

		&:hover{
			transform: scale(1.1);
		}
	}

}