@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "_variables";

*{
	font-family: $fuente;
}

@mixin flexible ($a: row,$b: center,$c: center){
	display: flex;
	flex-direction: $a;
	justify-content: $b;
	align-items: $c;
}

@each $a,$b in $font-weights{
	.font-weight-#{$a}{
		font-weight: $b;
	}
}

.bgNaranja{
	background-color: $color-primario;
}

.naranja{
	color: $color-primario;
}

.bgCyan{
	background-color: $color-secundario;
}

.cyan{
	color: $color-secundario;
}

.logo-horizontal{
	margin: 10px;
	display: block;
	width: 200px;
}

.logo-vertical{
	margin: 10px;
	display: block;
	width: 150px;
}

.tituloPrincipal{
	margin: auto;
	text-align: center;
}

.videoOAJNU{
	width: 100%;
	height: 50vh;
	padding: 10px;
}

.fotoProyecto{
	width: 300px;
}

.boton{
	background-color: $color-secundario;
	border: none;
	margin: 10px;
    &:hover{
        transform: scale(1.2);
        background-color: #FFFFFF;
        border: solid $color-secundario;
		color: $color-secundario;
    }

    &:active{
        background-color: $color-secundario;
        border: none;
        color: #FFFFFF;
        text-decoration: none;
    }

    a{
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
            color: $color-secundario;
        }
    }
}

iframe{
	margin:0;
	padding: 0;
}

.somosFoto{
	width: 100px;
}

#somos{
	display: none;
}

#aliados{
	display: none;
}
.logoRedes{
	height: 30px;
}

.fijado{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
}

@media all and (min-width: 992px){
	#somos{
		@include flexible(row,space-between,center);
	}

	#carouselSomos{
		display: none;
	}

	#aliados{
		@include flexible(row,space-between,center);
		margin-bottom: 3;
		overflow: auto;
	}
	
	.aliadosFoto{
		height: 100px;
	}

	#carouselAliados{
		display: none;
	}

	#siteHeader {
		@include flexible(row,center,center);
		margin: auto;
	}

	.fijado{
		bottom: 50px;
		right: 50px;
	}

}