@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  font-family: "Quicksand";
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.bgNaranja {
  background-color: #E05206;
}

.naranja {
  color: #E05206;
}

.bgCyan {
  background-color: #009AA6;
}

.cyan {
  color: #009AA6;
}

.logoHorizontal {
  margin: 10px;
  display: block;
  width: 200px;
}

.logoVertical {
  margin: 10px;
  display: block;
  width: 150px;
}

.logoRedes {
  height: 30px;
}

#videoFondoLarge {
  display: none;
}

.headerVideo {
  position: absolute;
  z-index: -100;
  left: 0;
  width: 100%;
  height: calc( 100vw*1.6216 );
  overflow: hidden;
}
.headerVideo video {
  position: absolute;
  left: 0;
  width: 100vw;
}

.headerOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: calc( 100vw*1.6216 );
  overflow: hidden;
  background-color: #FFFFFF;
  opacity: 0.5;
}

.headerContent {
  z-index: 2;
  width: 100%;
  height: calc( 100vw*1.6216 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerContent img {
  width: 70%;
}
.headerContent h2 {
  display: none;
}

#banner h2 {
  font-size: 1.5rem;
}
#banner h1 {
  font-size: 2rem;
}

.divCarousel {
  height: 500px;
}

#somosM {
  display: none;
}

.somosFoto {
  width: 100px;
}

#somos {
  display: none;
}

.fotoProyecto {
  width: 300px;
}
.fotoProyecto:hover {
  transform: scale(1.1);
}

.boton {
  background-color: #009AA6;
  border: none;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px;
  color: white;
}
.boton:hover {
  transform: scale(1.2);
  background-color: #FFFFFF;
  border: solid 0.5px #009AA6;
  color: #009AA6;
}

.botonNaranja {
  background-color: #E05206;
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: #FFFFFF;
}
.botonNaranja:hover {
  transform: scale(1.2);
  background-color: #FFFFFF;
  border: solid 0.5px #E05206;
  color: #E05206;
}

#contenedorSlider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#slider {
  width: 1800px;
  height: 130px;
  background-image: url("../media/ALIDOS.png");
  background-size: 100% 100%;
  -webkit-animation: slider 20s infinite linear;
          animation: slider 20s infinite linear;
}

@-webkit-keyframes slider {
  to {
    background-position: 1799.11px;
  }
}

@keyframes slider {
  to {
    background-position: 1799.11px;
  }
}
.contAliados {
  width: 300px;
  height: 200px;
  margin: 10px;
}
.contAliados img {
  width: 200px;
}
.contAliados:hover {
  transform: scale(1.1);
}

.videoProyecto {
  padding: 56.25% 0 0 0;
  position: relative;
  margin: 10px;
}

.videoProyectoDesktop {
  display: none;
}

.textoProyecto {
  background-color: #e8e8e8;
}
.textoProyecto:hover {
  transform: scale(1.1);
}

.fotoQuienessomos {
  width: 300px;
}

.divQUienessomos {
  width: 350px;
  padding-bottom: 20px;
}
.divQUienessomos:hover {
  transform: scale(1.1);
}

@media all and (min-width: 768px) {
  #videoFondo {
    display: none;
  }

  #videoFondoLarge {
    display: block;
  }

  .headerVideo {
    height: calc( 100vw*0.5625 );
  }

  .headerOverlay {
    height: calc( 100vw*0.5625 );
  }

  .headerContent {
    height: calc( 100vw*0.5625 );
  }
  .headerContent img {
    width: 50%;
  }

  #carouselSomos {
    display: none;
  }

  #somosM {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #somosM div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 10px;
  }
  #somosM div h4 {
    font-size: 15px;
  }

  #somos {
    display: none;
  }

  .videoProyecto {
    padding: 56.25% 0 0 0;
    position: relative;
    margin: 10px;
  }

  .videoProyectoDesktop {
    display: none;
  }

  .stickyFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  #videoFondo {
    display: none;
  }

  #videoFondoLarge {
    display: block;
  }

  .headerVideo {
    height: calc( 100vw*0.5625 );
  }

  .headerOverlay {
    height: calc( 100vw*0.5625 );
  }

  .headerContent {
    height: calc( 100vw*0.5625 );
  }
  .headerContent img {
    width: 50%;
  }
  .headerContent h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #banner h1 {
    font-size: 2.5rem;
  }
  #banner h2 {
    display: none;
  }

  #carouselSomos {
    display: none;
  }

  #somosM {
    display: none;
  }

  #somos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #somos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  #somos div h4 {
    font-size: 15px;
  }

  .divSomos:hover {
    transform: scale(1.2);
  }

  #proyectos {
    height: 30em;
  }

  #sumate {
    height: 30em;
  }

  .contAliados {
    width: 500px;
    height: 300px;
    margin: 20px;
  }
  .contAliados img {
    width: 400px;
  }

  .videoProyectoDesktop {
    display: flex;
  }

  .videoProyecto {
    display: none;
  }

  .stickyFooter {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */