@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  font-family: "Quicksand";
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.bgNaranja {
  background-color: #E05206;
}

.naranja {
  color: #E05206;
}

.bgCyan {
  background-color: #009AA6;
}

.cyan {
  color: #009AA6;
}

:root {
  font-size: 14px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3, h4 {
  font-size: 1.3rem;
}

h5, p {
  font-size: 1rem;
}

.logoHorizontal {
  margin: 0.5rem;
  display: block;
  width: 12.5rem;
}

.logoVertical {
  margin: 0.5rem;
  display: block;
  width: 9.3rem;
}

.logoRedes {
  height: 1.8rem;
}

#videoFondoLarge, #somos, .videoProyectoDesktop {
  display: none;
}

.headerVideo {
  position: absolute;
  z-index: -100;
  left: 0;
  width: 100%;
  height: calc( 100vw*1.6216 );
  overflow: hidden;
}
.headerVideo video {
  position: absolute;
  left: 0;
  width: 100vw;
}

.headerOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: calc( 100vw*1.6216 );
  overflow: hidden;
  background-color: #FFFFFF;
  opacity: 0.5;
}

.headerContent {
  z-index: 2;
  width: 100%;
  height: calc( 100vw*1.6216 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerContent img {
  width: 70%;
}
.headerContent h2 {
  display: none;
}

.divCarousel {
  height: 30rem;
}

.somosFoto {
  width: 6.3rem;
}

#proyectos h2 {
  padding-bottom: 2rem;
}

#sumate h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fotoProyecto, .fotoQuienessomos {
  width: 18.8rem;
}
.fotoProyecto:hover, .fotoQuienessomos:hover {
  transform: scale(1.1);
}

.boton {
  border: none;
  border-radius: 0.5rem;
  background-color: #009AA6;
  color: white;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  padding: 0.5rem;
}
.boton:hover {
  transform: scale(1.2);
  background-color: #FFFFFF;
  border: solid 0.5px #009AA6;
  color: #009AA6;
}

.botonNaranja {
  border: none;
  border-radius: 0.5rem;
  background-color: #E05206;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
}
.botonNaranja:hover {
  transform: scale(1.2);
  background-color: #FFFFFF;
  border: solid 0.5px #E05206;
  color: #E05206;
}

#contenedorSlider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#contenedorSlider #slider {
  width: 1800px;
  height: 130px;
  background-image: url("../media/ALIDOS.png");
  background-size: 100% 100%;
  -webkit-animation: slider 30s infinite linear;
          animation: slider 30s infinite linear;
}

@-webkit-keyframes slider {
  to {
    background-position: 1799.11px;
  }
}

@keyframes slider {
  to {
    background-position: 1799.11px;
  }
}
.contAliados {
  width: 18.8rem;
  height: 12.5rem;
  margin: 0.5rem;
}
.contAliados img {
  width: 12.5rem;
}
.contAliados:hover {
  transform: scale(1.1);
}

.videoProyecto {
  padding: 56.25% 0 0 0;
  position: relative;
  margin: 1rem;
}

.textoProyecto {
  background-color: #e8e8e8;
}
.textoProyecto:hover {
  transform: scale(1.1);
}

.divQUienessomos {
  width: 21.9rem;
  padding-bottom: 2rem;
}

.fijado {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  z-index: 3;
}

textarea {
  resize: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #E05206;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(224, 82, 6, 0.25);
}

@media all and (min-width: 768px) {
  #videoFondo, #carouselSomos, .videoProyectoDesktop {
    display: none;
  }

  #videoFondoLarge {
    display: block;
  }

  .headerVideo, .headerOverlay {
    height: calc( 100vw*0.5625 );
  }

  .headerContent {
    height: calc( 100vw*0.5625 );
  }
  .headerContent img {
    width: 50%;
  }

  #somos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #somos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    margin: 0.5rem;
  }
  #somos div h4 {
    font-size: 1rem;
  }

  .videoProyecto {
    padding: 56.25% 0 0 0;
    position: relative;
    margin: 0.5rem;
  }

  .fijado {
    bottom: 2.5rem;
    right: 2.5rem;
  }

  .stickyFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .siteHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .videoProyecto {
    display: none;
  }

  .videoProyectoDesktop {
    display: flex;
  }

  .headerContent h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #banner h2 {
    display: none;
  }

  :root {
    font-size: 16px;
  }

  #somos {
    flex-wrap: nowrap;
  }

  .divSomos:hover {
    transform: scale(1.2);
  }

  .contAliados {
    width: 31rem;
    height: 18.8rem;
    margin: 1.2rem;
  }
  .contAliados img {
    width: 25rem;
  }

  .fijado {
    bottom: 3.1rem;
    right: 3.1rem;
  }

  .stickyFooter {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  #proyectos h2, #sumate h2 {
    padding-top: 2.5rem;
  }
}/*# sourceMappingURL=estilos.css.map */